<!--note: need to run via anaconda, not just vscode Alt+B-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mission to Mars</title>

    <!-- the link tag below is where to access all Bootstrap's components. like importing a dependency-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div class = "container-fluid">
        <div class = "jumbotron text-center">
            <h1>Mission to Mars</h1>
            <!--button for scraping data-->
            <p><a class = "btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
        </div>
        <!-- Mars News -->
        <div class = "row" id="mars-news">
            <div class="col-md-12"><!-- column, midsize, 12 columns-->
                <div class = "media">
                    <div class="media-body">
                        <h2>Latest Mars News</h2>
                        <!--curly brackets below are part of templating, tells flask what data to insert. class is the styling to the header-->
                        <h4 class = "media-heading">{{mars.news_title}}</h4>
                        <!-- Article summary -->
                        <p>{{mars.news_paragraph}}</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Featured Image -->
        <!-- First level -->
        <div class = "row" id="mars-featured-image">
            <!-- Second level -->
            <div class = "col-md-8">
                <h2>Featured Mars Image</h2>
                <img src="{{mars.featured_image}}" class = "img-responsive" alt="Responsive image">
            </div>
            <!-- Mars Facts -->
            <div class = "col-md-4 center">
                <div class = "container-fluid text-center"></div>
                    <div class = "row text-center container-fluid" id="mars-facts">
                        <h4 class = "text-center">Mars Facts</h4>
                        <p class="text-center">{{mars.facts | safe}}</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- mars hemisphere image urls -->
        <div class = "row" id = "mars-hemisphere-image-urls">
            <h3 class="text-center fluid-container">Mars Hemisphere Image URLs</h3>
            {% for hemisphere in mars.hemispheres %}
            <div class="col-xs-3 col-md-6">
                <figure>
                    <img src="{{hemisphere.img_url}}" class="img-responsive" alt="Responsive image">
                    <figcaption><p class="text-center">{{hemisphere.title}}</p></figcaption>
                </figure>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>